html, body {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
}

canvas {
  display: inline;
  margin: 0;
}

h3 {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

div.sidebar {
  display: inline-block;
  vertical-align: top;
  flex: 1;
}

div.banner {
  display: block;
  padding: 1em 0 0.5em 10px;
  margin: 0;
}

.themeRed {
  background-color: hsl(0, 62%, 79%);
  color: rgb(208, 0, 0);
}

.themeBlack {
  background-color: lightgray;
  color: black;
}

table.pieceNameGuide tr {
  background-color: hsl(28, 100%, 92%);
}

table.pieceNameGuide td:nth-child(1) {
  background-color: hsl(0, 75%, 92%);
  color: rgb(208, 0, 0);
  font-weight: bold;
  margin: 0;
  padding: 0;
}

table.pieceNameGuide tr:nth-of-type(even) td:nth-child(1) {
  background-color: hsl(0, 62%, 79%);
}

table.pieceNameGuide tr:nth-of-type(even) td:nth-child(2) {
  background-color: hsl(28, 79%, 79%);
  color: black;
  margin: 0;
  padding: 0;
}

table.pieceNameGuide td:nth-child(3) {
  background-color: hsl(0, 0%, 92%);
  color: black;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

table.pieceNameGuide tr:nth-of-type(even) td:nth-child(3) {
  background-color: hsl(0, 0%, 79%);
}
